<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <p>
      Once upon a time, there was a <%= params['animal'] %> with a very <%= params['adjective'] %> <%= params['body_part'] %>. It lived far from home, so every year, it had to <%= params['verb'] %> all the way to <%= params['place'] %> to see its family at the big <%= params['holiday'] %> festival.
    </p>
    <img src="<%= params['picture']%>" alt="photo" />
  </body>
</html>
